# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^LuP_Services/list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^LuP_Services/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]